<ion-header>
  <ion-toolbar color="dark" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Languages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" color="dark">
    <ion-label>
      <p>All languages</p>
    </ion-label>
  </ion-item>
</ion-content>
