<ion-content [fullscreen]="true">
  <!-- ion-slides here -->
  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-card-content>
            Newspaper
          </ion-card-content>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-card-content>
            Newspaper
          </ion-card-content>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-card-content>
            Newspaper
          </ion-card-content>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-card-content>
            Newspaper
          </ion-card-content>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-card-content>
            Newspaper
          </ion-card-content>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="discription">
    <p>Explore over a 1000 of your favourite stories and newspapers. Get the best news in your local kasi's, politics, entertainmenet, sport, Television and more.</p>
    <ion-button shape="round">Subscribe</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-margin-top" color="dark">
    <ion-button slot="end" shape="round">Subscribe</ion-button>
    <ion-label slot="start">
      <h1>R4.50/pm</h1>
    </ion-label>
  </ion-toolbar>
</ion-footer>