<ion-content [fullscreen]="true">
  <!-- ion-slides here -->
  <div class="discription">
    <p>Discover over more than 1000 of your favourite stories and newspapers. Get the best news in your local kasi's, politics, entertainmenet, sport, Television and more.</p>
    <ion-button shape="round">Subscribe</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-margin-top" color="dark">
    <ion-buttons slot="end">
      <ion-button>Subscribe</ion-button>
    </ion-buttons>
    <ion-label slot="start">
      <h1>R4.50/pm</h1>
    </ion-label>
  </ion-toolbar>
</ion-footer>