<ion-header mode="ios">
  <ion-toolbar class="color-bg ion-no-border" color="dark">
    <ion-title size="large" class="title">
      Local Gazette
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="ios">
    <ion-toolbar class="color-bg ion-no-border" color="dark">
      <p style="font-size: 20px; margin-left: 20px; color: gray;">{{day}}, {{month}} {{today.getDate()}}</p>
      <ion-searchbar placeholder="Search LocalGazette"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <!-- Fetch from database -->
  <div class="top-read"></div>
  <div class="happening-now"></div>
  <div class="top-featured"></div>
  <div class="on-this-day"></div>
  <div class="trending"></div>

    <div class="inner-container ion-margin" *ngFor="let article of topHeadlines">
      <div class="" (click)="onGoToNewsSinglePage(article)">
        <img src="{{article.urlToImage}}" alt="">
        <div class="ion-margin">
          <ion-label color="light" style="font-weight: bold;">{{article.title}}</ion-label>
        </div>
        <ion-item color="dark">
          <ion-label slot="start">
            <p>{{article.source.name}}</p>
          </ion-label>
          <ion-label slot="end">
            <p>{{article.publishedAt | date}}</p>
          </ion-label>
        </ion-item>
      </div>
      <!-- <ion-item lines="full" color="dark">
          <ion-button slot="end" fill="clear" shape="round" color="light">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" shape="round" color="light">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" fill="clear" shape="round" color="light">
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
      </ion-item> -->
    </div>

  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="loading news.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
